// font-family: 'Belanosima', sans-serif;
// font-family: 'Manrope', sans-serif;
// font-family: "Druk Wide Cy TT Medium"

// FONTS
$font-main: 'Manrope', sans-serif;
$font-third: 'Belanosima', sans-serif;
$font-second: "Druk Wide Cy TT Medium", sans-serif;

// COLORS
$color-white: #FFFFFF;
$color-bg: #212224;
$color-bg-sec: #17181A;
$color-btn: linear-gradient(135deg, #76BB39 0%, #16B862 51.88%, #00858F 100%);

